$devidedInputsWidth: 150px;

$modal-hd-start: #5734ff;
$modal-hd-end: #9731dd;
$modal-bg: #ddd3f2;
$modal-border: 1px solid #979df9;
$modal-overlay-bg-color: #00000036;

$modal-color: $modal-hd-start;

#overlay {
	z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position: fixed; /* всегдa перекрывaет весь сaйт */
	background-color: #000; /* чернaя */
	opacity: 0; /* нo немнoгo прoзрaчнa */
	width: 100%;
	height: 100%; /* рaзмерoм вo весь экрaн */
	top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left: 0;
	transition: all $animation-fast ease-in;
	pointer-events: none;
}
.input-with-non-delete-text {
	@extend %nonDeleteTextForInput;
	flex: 1 1 auto;
}

.modal {
	box-shadow: -1px 1px 10px 3px #b1c0fb;
	transition: all $animation-fast ease-in;
	border-radius: 5px;
	button,
	a.anchor-button {
		@extend %buttonStyle;
		margin: 5px auto;
	}
	.modal-close {
		cursor: pointer;
	}
	.text-accent {
		color: $modal-hd-end !important;
	}
	&-overlay {
		position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $modal-overlay-bg-color;
	}
	&__header {
		background: linear-gradient(to right, $modal-hd-start 20%, $modal-hd-end 90%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 5px;
		@include sm {
			font-size: 1.3rem;
		}
	}
	&-buttons {
		display: flex;
		justify-content: space-around;
	}
	&-container {
		position: relative;
		// background-color: $modal-bg;
		background: linear-gradient(#c3ecff 40%, #f3f0ce 90%);
		border-radius: 0px 0px 5px 5px;
		padding: 10px 20px;
		color: $modal-color;
		& > i.fa {
			position: absolute;
			top: 5px;
			right: 5px;
			font-size: 20px;
			cursor: pointer;
			transition: color 0.3s ease-in;
			&:hover {
				color: #a72222;
			}
		}
		h1 {
			margin: 10px auto;
			text-align: center;
		}
		h2,
		h3,
		h4 {
			margin: 5px auto;
			text-align: center;
		}
		label {
			width: 115px;
			margin-right: 5px;
			white-space: nowrap;
		}
		.content {
			display: flex;
			.tiles-wrapper {
				display: grid;
				width: 100%;
				grid-template-columns: repeat(5, 1fr);
				input,
				select,
				.input-with-non-delete-text {
					flex: 1 1 auto;
				}
			}
			&__divided {
				flex: 1 1 50%;
				margin: 5px 1px;
				&__row {
					display: flex;
					margin: 2px auto;
					transition: all 0.3s ease-in;
					input,
					select {
						width: $devidedInputsWidth * 2;
						text-align: center;
						box-sizing: border-box;
					}
					.two-elems {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						input,
						select {
							width: $devidedInputsWidth;
						}
					}
					&.hidden-at-start {
						display: none;
					}
				}
				&.change-status {
					background-color: #bbffe996;
					border: 1px solid #85a07b;
					padding: 0px 10px 0px 20px;
					h3 {
						margin: 10px 0px;
					}
					.change-status__button {
						@extend %buttonStyle;
						margin: 5px auto;
					}
				}
			}
			&-main {
				input,
				select {
					text-align: center;
					box-sizing: border-box;
				}
				textarea {
					width: 100%;
				}
				&__row {
					display: flex;
					margin: 2px auto;
					input[name="st"] {
						text-align: left;
					}
					&.single-row {
						justify-content: space-between;
						.input-wrapper {
							width: 360px;
						}
						label {
							width: auto;
							display: flex;
							align-items: center;
						}
					}
				}
				.input-wrapper {
					display: flex;
					width: 86%;
					input,
					select,
					.input-with-non-delete-text {
						flex: 1 1 auto;
					}
				}
			}
		}
	}
}
